.navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-block: 10px;
  width: 50%;
  height: 50px;
}

.navbar-item {
  text-decoration: none;
  color: #000;
  position: relative;
}

.navbar-item::after {
  content: "";
  display: block;
  width: 2px;
  height: 20px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: -20px;
}